<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>617898ad9942490e84621ab04216d018~?~6727cd07a11f40399bc6D2aa0fEf857f</password>
    </server>
  </servers>

</settings>